@{
    ViewBag.Title = "Destination_micro";
}

@*<h2>Destination_micro</h2>*@
<!-- Main -->
<main class="main" role="main">
    <!-- Page info -->
    <header class="site-title color">
        <div class="wrap">
            <div class="container">
                <h1>Destinations</h1>
                <nav role="navigation" class="breadcrumbs">
                    <ul>
                        <li><a href="../../Home/index" title="Home">Home</a></li>
                        <li><a href="../../Home/Destinations.html" title="Destinations">Destinations</a></li>
                        <li><a href="../../Home/destinations_single" title="Destinations">Germany</a></li>
                        <li>Berlin Schonefeld Airport</li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <!-- //Page info -->
    <!-- Keyvisual -->
    <div class="keyvisual">
        <img src="~/Content/images/honda-cr-v.jpg" alt="" />
    </div>
    <!-- //Keyvisual -->
    <!-- Search -->
    <div class="advanced-search grey">
        <div class="wrap">
            <form role="form" action="search-results.html">
                <!-- Row -->
                <div class="f-row">
                    <div class="form-group datepicker one-third">
                        <label for="dep-date">Departure date and time</label>
                        <input type="text" id="dep-date" />
                    </div>

                    <div class="form-group select one-third">
                        <label>Pick up location</label>
                        <select>
                            <option selected>&nbsp;</option>
                            <optgroup label="Germany">
                                <option value="Berlin Central Train Station">Berlin Central Train Station</option>
                                <option value="Berlin Schonefeld Airport">Berlin Schonefeld Airport</option>
                                <option value="Berlin Tegel Airport">Berlin Tegel Airport</option>
                                <option value="Bremen Airport">Bremen Airport</option>
                                <option value="Cologne Bonn Airport">Cologne Bonn Airport</option>
                                <option value="Dortmund Airport">Dortmund Airport</option>
                                <option value="Dresden Airport">Dresden Airport</option>
                                <option value="Dusseldorf Airport">Dusseldorf Airport</option>
                                <option value="Frankfurt Hahn Airport">Frankfurt Hahn Airport</option>
                                <option value="Frankfurt International Airport">Frankfurt International Airport</option>
                                <option value="Friedrichshafen Airport">Friedrichshafen Airport</option>
                                <option value="Hamburg Finkenwerder Airport">Hamburg Finkenwerder Airport</option>
                                <option value="Hamburg Port">Hamburg Port</option>
                                <option value="Hamburg-Fuhlsbuttel Airport">Hamburg-Fuhlsbuttel Airport</option>
                                <option value="Hanover Lengenhagen Airport">Hanover Lengenhagen Airport</option>
                                <option value="Kiel Port">Kiel Port</option>
                                <option value="Leipzig Halle Airport">Leipzig Halle Airport</option>
                                <option value="Munich Airport">Munich Airport</option>
                                <option value="Nuremberg Airport">Nuremberg Airport</option>
                            </optgroup>
                            <optgroup label="Italy">
                                <option value="Alghero Airport">Alghero Airport</option>
                                <option value="Bari Airport">Bari Airport</option>
                                <option value="Bari Port">Bari Port</option>
                                <option value="Bergamo Airport">Bergamo Airport</option>
                                <option value="Bologna Airport">Bologna Airport</option>
                                <option value="Brindisi Airport">Brindisi Airport</option>
                                <option value="Cagliari Airport">Cagliari Airport</option>
                                <option value="Florence Airport">Florence Airport</option>
                                <option value="Florence Train Station">Florence Train Station</option>
                                <option value="Genoa Airport">Genoa Airport</option>
                                <option value="Genoa Port">Genoa Port</option>
                                <option value="Milan Central Train Station">Milan Central Train Station</option>
                                <option value="Milan City Centre">Milan City Centre</option>
                                <option value="Naples Airport">Naples Airport</option>
                            </optgroup>
                            <optgroup label="Spain">
                                <option value="Alicante Airport">Alicante Airport</option>
                                <option value="Almeria Airport">Almeria Airport</option>
                                <option value="Barcelona Airport">Barcelona Airport</option>
                                <option value="Granada Airport">Granada Airport</option>
                                <option value="Jerez de la Frontera">Jerez de la Frontera</option>
                                <option value="Leon Airport">Leon Airport</option>
                                <option value="Madrid Atocha Train Station">Madrid Atocha Train Station</option>
                                <option value="Madrid Barajas Airport">Madrid Barajas Airport</option>
                                <option value="Pamplona Airport">Pamplona Airport</option>
                                <option value="Santander Airport">Santander Airport</option>
                                <option value="Seville Airport">Seville Airport</option>
                                <option value="Valencia Airport">Valencia Airport</option>
                                <option value="Zaragoza Airport">Zaragoza Airport</option>
                            </optgroup>
                            <optgroup label="United Kingdom">
                                <option value="Belfast City Airport">Belfast City Airport</option>
                                <option value="Belfast International Airport">Belfast International Airport</option>
                                <option value="Bristol Airport">Bristol Airport</option>
                                <option value="Cardiff Airport">Cardiff Airport</option>
                                <option value="Edinburgh Airport">Edinburgh Airport</option>
                                <option value="Glasgow International Airport">Glasgow International Airport</option>
                                <option value="London City Airport">London City Airport</option>
                                <option value="London Gatwick Airport">London Gatwick Airport</option>
                                <option value="London Heathrow Airport">London Heathrow Airport</option>
                                <option value="London Stansted Airport">London Stansted Airport</option>
                                <option value="Manchester Airport">Manchester Airport</option>
                                <option value="Southampton Airport">Southampton Airport</option>
                            </optgroup>
                        </select>
                    </div>
                    <div class="form-group select one-third">
                        <label>Drop off location</label>
                        <select>
                            <option selected>&nbsp;</option>
                            <optgroup label="Germany">
                                <option value="Berlin Central Train Station">Berlin Central Train Station</option>
                                <option value="Berlin Schonefeld Airport">Berlin Schonefeld Airport</option>
                                <option value="Berlin Tegel Airport">Berlin Tegel Airport</option>
                                <option value="Bremen Airport">Bremen Airport</option>
                                <option value="Cologne Bonn Airport">Cologne Bonn Airport</option>
                                <option value="Dortmund Airport">Dortmund Airport</option>
                                <option value="Dresden Airport">Dresden Airport</option>
                                <option value="Dusseldorf Airport">Dusseldorf Airport</option>
                                <option value="Frankfurt Hahn Airport">Frankfurt Hahn Airport</option>
                                <option value="Frankfurt International Airport">Frankfurt International Airport</option>
                                <option value="Friedrichshafen Airport">Friedrichshafen Airport</option>
                                <option value="Hamburg Finkenwerder Airport">Hamburg Finkenwerder Airport</option>
                                <option value="Hamburg Port">Hamburg Port</option>
                                <option value="Hamburg-Fuhlsbuttel Airport">Hamburg-Fuhlsbuttel Airport</option>
                                <option value="Hanover Lengenhagen Airport">Hanover Lengenhagen Airport</option>
                                <option value="Kiel Port">Kiel Port</option>
                                <option value="Leipzig Halle Airport">Leipzig Halle Airport</option>
                                <option value="Munich Airport">Munich Airport</option>
                                <option value="Nuremberg Airport">Nuremberg Airport</option>
                            </optgroup>
                            <optgroup label="Italy">
                                <option value="Alghero Airport">Alghero Airport</option>
                                <option value="Bari Airport">Bari Airport</option>
                                <option value="Bari Port">Bari Port</option>
                                <option value="Bergamo Airport">Bergamo Airport</option>
                                <option value="Bologna Airport">Bologna Airport</option>
                                <option value="Brindisi Airport">Brindisi Airport</option>
                                <option value="Cagliari Airport">Cagliari Airport</option>
                                <option value="Florence Airport">Florence Airport</option>
                                <option value="Florence Train Station">Florence Train Station</option>
                                <option value="Genoa Airport">Genoa Airport</option>
                                <option value="Genoa Port">Genoa Port</option>
                                <option value="Milan Central Train Station">Milan Central Train Station</option>
                                <option value="Milan City Centre">Milan City Centre</option>
                                <option value="Naples Airport">Naples Airport</option>
                            </optgroup>
                            <optgroup label="Spain">
                                <option value="Alicante Airport">Alicante Airport</option>
                                <option value="Almeria Airport">Almeria Airport</option>
                                <option value="Barcelona Airport">Barcelona Airport</option>
                                <option value="Granada Airport">Granada Airport</option>
                                <option value="Jerez de la Frontera">Jerez de la Frontera</option>
                                <option value="Leon Airport">Leon Airport</option>
                                <option value="Madrid Atocha Train Station">Madrid Atocha Train Station</option>
                                <option value="Madrid Barajas Airport">Madrid Barajas Airport</option>
                                <option value="Pamplona Airport">Pamplona Airport</option>
                                <option value="Santander Airport">Santander Airport</option>
                                <option value="Seville Airport">Seville Airport</option>
                                <option value="Valencia Airport">Valencia Airport</option>
                                <option value="Zaragoza Airport">Zaragoza Airport</option>
                            </optgroup>
                            <optgroup label="United Kingdom">
                                <option value="Belfast City Airport">Belfast City Airport</option>
                                <option value="Belfast International Airport">Belfast International Airport</option>
                                <option value="Bristol Airport">Bristol Airport</option>
                                <option value="Cardiff Airport">Cardiff Airport</option>
                                <option value="Edinburgh Airport">Edinburgh Airport</option>
                                <option value="Glasgow International Airport">Glasgow International Airport</option>
                                <option value="London City Airport">London City Airport</option>
                                <option value="London Gatwick Airport">London Gatwick Airport</option>
                                <option value="London Heathrow Airport">London Heathrow Airport</option>
                                <option value="London Stansted Airport">London Stansted Airport</option>
                                <option value="Manchester Airport">Manchester Airport</option>
                                <option value="Southampton Airport">Southampton Airport</option>
                            </optgroup>
                        </select>
                    </div>
                </div>
                <!-- //Row -->
                <!-- Row -->
                <div class="f-row">
                    <div class="form-group datepicker one-third">
                        <label for="ret-date">Return date and time</label>
                        <input type="text" id="ret-date" />
                    </div>

                    <div class="form-group select one-third">
                        <label>Pick up location</label>
                        <select>
                            <option selected>&nbsp;</option>
                            <optgroup label="Germany">
                                <option value="Berlin Central Train Station">Berlin Central Train Station</option>
                                <option value="Berlin Schonefeld Airport">Berlin Schonefeld Airport</option>
                                <option value="Berlin Tegel Airport">Berlin Tegel Airport</option>
                                <option value="Bremen Airport">Bremen Airport</option>
                                <option value="Cologne Bonn Airport">Cologne Bonn Airport</option>
                                <option value="Dortmund Airport">Dortmund Airport</option>
                                <option value="Dresden Airport">Dresden Airport</option>
                                <option value="Dusseldorf Airport">Dusseldorf Airport</option>
                                <option value="Frankfurt Hahn Airport">Frankfurt Hahn Airport</option>
                                <option value="Frankfurt International Airport">Frankfurt International Airport</option>
                                <option value="Friedrichshafen Airport">Friedrichshafen Airport</option>
                                <option value="Hamburg Finkenwerder Airport">Hamburg Finkenwerder Airport</option>
                                <option value="Hamburg Port">Hamburg Port</option>
                                <option value="Hamburg-Fuhlsbuttel Airport">Hamburg-Fuhlsbuttel Airport</option>
                                <option value="Hanover Lengenhagen Airport">Hanover Lengenhagen Airport</option>
                                <option value="Kiel Port">Kiel Port</option>
                                <option value="Leipzig Halle Airport">Leipzig Halle Airport</option>
                                <option value="Munich Airport">Munich Airport</option>
                                <option value="Nuremberg Airport">Nuremberg Airport</option>
                            </optgroup>
                            <optgroup label="Italy">
                                <option value="Alghero Airport">Alghero Airport</option>
                                <option value="Bari Airport">Bari Airport</option>
                                <option value="Bari Port">Bari Port</option>
                                <option value="Bergamo Airport">Bergamo Airport</option>
                                <option value="Bologna Airport">Bologna Airport</option>
                                <option value="Brindisi Airport">Brindisi Airport</option>
                                <option value="Cagliari Airport">Cagliari Airport</option>
                                <option value="Florence Airport">Florence Airport</option>
                                <option value="Florence Train Station">Florence Train Station</option>
                                <option value="Genoa Airport">Genoa Airport</option>
                                <option value="Genoa Port">Genoa Port</option>
                                <option value="Milan Central Train Station">Milan Central Train Station</option>
                                <option value="Milan City Centre">Milan City Centre</option>
                                <option value="Naples Airport">Naples Airport</option>
                            </optgroup>
                            <optgroup label="Spain">
                                <option value="Alicante Airport">Alicante Airport</option>
                                <option value="Almeria Airport">Almeria Airport</option>
                                <option value="Barcelona Airport">Barcelona Airport</option>
                                <option value="Granada Airport">Granada Airport</option>
                                <option value="Jerez de la Frontera">Jerez de la Frontera</option>
                                <option value="Leon Airport">Leon Airport</option>
                                <option value="Madrid Atocha Train Station">Madrid Atocha Train Station</option>
                                <option value="Madrid Barajas Airport">Madrid Barajas Airport</option>
                                <option value="Pamplona Airport">Pamplona Airport</option>
                                <option value="Santander Airport">Santander Airport</option>
                                <option value="Seville Airport">Seville Airport</option>
                                <option value="Valencia Airport">Valencia Airport</option>
                                <option value="Zaragoza Airport">Zaragoza Airport</option>
                            </optgroup>
                            <optgroup label="United Kingdom">
                                <option value="Belfast City Airport">Belfast City Airport</option>
                                <option value="Belfast International Airport">Belfast International Airport</option>
                                <option value="Bristol Airport">Bristol Airport</option>
                                <option value="Cardiff Airport">Cardiff Airport</option>
                                <option value="Edinburgh Airport">Edinburgh Airport</option>
                                <option value="Glasgow International Airport">Glasgow International Airport</option>
                                <option value="London City Airport">London City Airport</option>
                                <option value="London Gatwick Airport">London Gatwick Airport</option>
                                <option value="London Heathrow Airport">London Heathrow Airport</option>
                                <option value="London Stansted Airport">London Stansted Airport</option>
                                <option value="Manchester Airport">Manchester Airport</option>
                                <option value="Southampton Airport">Southampton Airport</option>
                            </optgroup>
                        </select>
                    </div>
                    <div class="form-group select one-third">
                        <label>Drop off location</label>
                        <select>
                            <option selected>&nbsp;</option>
                            <optgroup label="Germany">
                                <option value="Berlin Central Train Station">Berlin Central Train Station</option>
                                <option value="Berlin Schonefeld Airport">Berlin Schonefeld Airport</option>
                                <option value="Berlin Tegel Airport">Berlin Tegel Airport</option>
                                <option value="Bremen Airport">Bremen Airport</option>
                                <option value="Cologne Bonn Airport">Cologne Bonn Airport</option>
                                <option value="Dortmund Airport">Dortmund Airport</option>
                                <option value="Dresden Airport">Dresden Airport</option>
                                <option value="Dusseldorf Airport">Dusseldorf Airport</option>
                                <option value="Frankfurt Hahn Airport">Frankfurt Hahn Airport</option>
                                <option value="Frankfurt International Airport">Frankfurt International Airport</option>
                                <option value="Friedrichshafen Airport">Friedrichshafen Airport</option>
                                <option value="Hamburg Finkenwerder Airport">Hamburg Finkenwerder Airport</option>
                                <option value="Hamburg Port">Hamburg Port</option>
                                <option value="Hamburg-Fuhlsbuttel Airport">Hamburg-Fuhlsbuttel Airport</option>
                                <option value="Hanover Lengenhagen Airport">Hanover Lengenhagen Airport</option>
                                <option value="Kiel Port">Kiel Port</option>
                                <option value="Leipzig Halle Airport">Leipzig Halle Airport</option>
                                <option value="Munich Airport">Munich Airport</option>
                                <option value="Nuremberg Airport">Nuremberg Airport</option>
                            </optgroup>
                            <optgroup label="Italy">
                                <option value="Alghero Airport">Alghero Airport</option>
                                <option value="Bari Airport">Bari Airport</option>
                                <option value="Bari Port">Bari Port</option>
                                <option value="Bergamo Airport">Bergamo Airport</option>
                                <option value="Bologna Airport">Bologna Airport</option>
                                <option value="Brindisi Airport">Brindisi Airport</option>
                                <option value="Cagliari Airport">Cagliari Airport</option>
                                <option value="Florence Airport">Florence Airport</option>
                                <option value="Florence Train Station">Florence Train Station</option>
                                <option value="Genoa Airport">Genoa Airport</option>
                                <option value="Genoa Port">Genoa Port</option>
                                <option value="Milan Central Train Station">Milan Central Train Station</option>
                                <option value="Milan City Centre">Milan City Centre</option>
                                <option value="Naples Airport">Naples Airport</option>
                            </optgroup>
                            <optgroup label="Spain">
                                <option value="Alicante Airport">Alicante Airport</option>
                                <option value="Almeria Airport">Almeria Airport</option>
                                <option value="Barcelona Airport">Barcelona Airport</option>
                                <option value="Granada Airport">Granada Airport</option>
                                <option value="Jerez de la Frontera">Jerez de la Frontera</option>
                                <option value="Leon Airport">Leon Airport</option>
                                <option value="Madrid Atocha Train Station">Madrid Atocha Train Station</option>
                                <option value="Madrid Barajas Airport">Madrid Barajas Airport</option>
                                <option value="Pamplona Airport">Pamplona Airport</option>
                                <option value="Santander Airport">Santander Airport</option>
                                <option value="Seville Airport">Seville Airport</option>
                                <option value="Valencia Airport">Valencia Airport</option>
                                <option value="Zaragoza Airport">Zaragoza Airport</option>
                            </optgroup>
                            <optgroup label="United Kingdom">
                                <option value="Belfast City Airport">Belfast City Airport</option>
                                <option value="Belfast International Airport">Belfast International Airport</option>
                                <option value="Bristol Airport">Bristol Airport</option>
                                <option value="Cardiff Airport">Cardiff Airport</option>
                                <option value="Edinburgh Airport">Edinburgh Airport</option>
                                <option value="Glasgow International Airport">Glasgow International Airport</option>
                                <option value="London City Airport">London City Airport</option>
                                <option value="London Gatwick Airport">London Gatwick Airport</option>
                                <option value="London Heathrow Airport">London Heathrow Airport</option>
                                <option value="London Stansted Airport">London Stansted Airport</option>
                                <option value="Manchester Airport">Manchester Airport</option>
                                <option value="Southampton Airport">Southampton Airport</option>
                            </optgroup>
                        </select>
                    </div>
                </div>
                <!-- //Row -->
                <!-- Row -->
                <div class="f-row">
                    <div class="form-group right">
                        <button type="submit" class="btn large black">Find a transfer</button>
                    </div>
                    <div class="form-group spinner">
                        <label for="people">How many people <small>(including children)</small>?</label>
                        <input type="number" id="people" min="1" />
                    </div>
                    <div class="form-group radios">
                        <div>
                            <input type="radio" name="radio" id="return" value="return" />
                            <label for="return">Return</label>
                        </div>
                        <div>
                            <input type="radio" name="radio" id="oneway" value="oneway" checked />
                            <label for="oneway">One way</label>
                        </div>
                    </div>
                </div>
                <!--// Row -->
            </form>
        </div>
    </div>
    <!-- //Search -->

    <div class="wrap">
        <div class="row">
            <!--- Content -->
            <div class="one-half content textongrey">
                <h2>Berlin Schonefeld Airport</h2>
                <p class="lead">Berlin is Germany’s capital, and a young, vibrant cultural hub, filled with artists, trendsetters and creatives from all media. It is a multicultural wonderland of creativity, with young people flocking from all over the globe to visit, to live and to explore this awe-inspiring city.</p>
                <p>Berlin Schönefeld International Airport (SXF) is the only current airport <strong>serving east Berlin</strong> and is located just 17km from <a href="#">Berlin city centre</a>. <br />The airport has four terminals for various international arrivals and departures.</p>
                <p>Berlin Schönefeld International Airport is <strong>very close to the capital city</strong> and handles nearly seven million passengers each year. Ensure you can enjoy your holidays in Germany with ease and book with us now to reserve your airport transfer and save a small fortune.</p>
                <p>You can book a <strong>private taxi</strong> or <strong>minibus</strong>, or utilise our <strong>shuttle bus</strong> service, so you can arrive at your chosen destination without worrying about how you’re going to get there. We can take you to a wide range of popular resorts, including <a href="destination-single.html">Brandenburg</a> and <a href="destination-single.html">Frankfurt</a> city centre.</p>
                <p>Make sure you get your holidays off to a relaxing start and book your Berlin Schönefeld International Airport transfer with us today.</p>
            </div>

            <div class="one-half content offset">
                <table class="hover">
                    <tr>
                        <th>Destinations</th>
                        <th>Private</th>
                        <th>Shared</th>
                    </tr>
                    <tr>
                        <td>Berlin city centre</td>
                        <td><a href="../../Home/Search">50,00 USD</a></td>
                        <td><a href="../../Home/Search">25,00 USD</a></td>
                    </tr>
                    <tr>
                        <td>Brandenburg</td>
                        <td><a href="../../Home/Search">150,00 USD</a></td>
                        <td><a href="../../Home/Search">75,00 USD</a></td>
                    </tr>
                    <tr>
                        <td>Frankfurt city centre</td>
                        <td><a href="../../Home/Search">180,00 USD</a></td>
                        <td><a href="../../Home/Search">90,00 USD</a></td>
                    </tr>
                    <tr>
                        <td>Dresden</td>
                        <td><a href="../../Home/Search">300,00 USD</a></td>
                        <td><a href="../../Home/Search">150,00 USD</a></td>
                    </tr>
                    <tr>
                        <td>Hanover</td>
                        <td><a href="../../Home/Search">700,00 USD</a></td>
                        <td><a href="../../Home/Search">300,00 USD</a></td>
                    </tr>
                    <tr>
                        <td>Magdeburg</td>
                        <td><a href="../../Home/Search">300,00 USD</a></td>
                        <td><a href="../../Home/Search">150,00 USD</a></td>
                    </tr>
                    <tr>
                        <td>Potsdam</td>
                        <td><a href="../../Home/Search">70,00 USD</a></td>
                        <td><a href="../../Home/Search">30,00 USD</a></td>
                    </tr>
                    <tr>
                        <td>Rostock</td>
                        <td><a href="../../Home/Search">400,00 USD</a></td>
                        <td><a href="../../Home/Search">200,00 USD</a></td>
                    </tr>
                </table>
            </div>
            <!--- //Content -->
        </div>
    </div>
</main>
<!-- //Main -->
