@{
    ViewBag.Title = "error";
}

@*<h2>error</h2>*@
<!-- Main -->
<main class="main error" role="main">
    <!-- Page info -->
    <header class="site-title color">
        <div class="wrap">
            <div class="container">
                <h1>Error 404</h1>
                <nav role="navigation" class="breadcrumbs">
                    <ul>
                        <li><a href="../../Home/index" title="Home">Home</a></li>
                        <li>Error 404</li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <!-- //Page info -->

    <div class="wrap">
        <div class="row">
            <!--- Content -->
            <div class="content one-half right textongreyRight">
                <h2>404 PAGE NOT FOUND</h2>
                <p>The page you’ve requested could not be found or it was already removed from the database.</p>
                <p>If you believe that this is an error, please kindly <a href="contact.html">contact us</a> or head straight to our <a href="index.html">homepage</a>. Thank you!</p>
            </div>
            <!--- //Content -->
        </div>
    </div>
</main>
<!-- //Main -->
