@{
    ViewBag.Title = "left_sidebar_page";
}

@*<h2>left_sidebar_page</h2>*@
<!-- Main -->
<main class="main" role="main">
    <!-- Page info -->
    <header class="site-title color">
        <div class="wrap">
            <div class="container">
                <h1>Left sidebar page</h1>
                <nav role="navigation" class="breadcrumbs">
                    <ul>
                        <li><a href="../../Home/index" title="Home">Home</a></li>
                        <li>Left sidebar page</li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <!-- //Page info -->


    <div class="wrap">
        <div class="row">

            <!--- Sidebar -->
            <aside class="one-fourth sidebar left">
                <!-- Widget -->
                <div class="widget">
                    <ul class="categories">
                        <li class="active"><a href="#">Lorem ipsum</a></li>
                        <li><a href="#">Category name</a></li>
                        <li><a href="#">Lorem ipsum</a></li>
                        <li><a href="#">Dolor</a></li>
                        <li><a href="#">Sit amet</a></li>
                    </ul>
                </div>
                <!-- //Widget -->
                <!-- Widget -->
                <div class="widget">
                    <h4>Why book with us?</h4>
                    <div class="textwidget">
                        <h5>Reliable and Safe</h5>
                        <p>Lorem ipsum dolor sit amet,  do eiusmod tempor incididunt labore et dolore magna aliqua.</p>
                        <h5>No hidden fees</h5>
                        <p>Lorem ipsum dolor sit amet,  do eiusmod tempor incididunt labore et dolore magna aliqua.</p>
                        <h5>We’re Always Here</h5>
                        <p>Lorem ipsum dolor sit amet,  do eiusmod tempor incididunt labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <!-- //Widget -->
                <!-- Widget -->
                <div class="widget">
                    <h4>Advertisment</h4>
                    <a href="#"><img src="~/Content/images/img2.jpg" alt="" /></a>
                </div>
                <!-- //Widget -->
                <!-- Widget -->
                <div class="widget">
                    <h4>Need help booking?</h4>
                    <div class="textwidget">
                        <p>Call our customer services team on the number below to speak to one of our advisors who will help you with all of your needs.</p>
                        <p class="contact-data"><span class="ico phone black"></span> +1 555 555 555</p>
                    </div>
                </div>
                <!-- //Widget -->
            </aside>
            <!--- //Sidebar -->
            <!--- Content -->
            <div class="three-fourth content">
                <!-- Post -->
                <article class="single hentry">
                    <div class="entry-featured">
                        <img src="~/Content/images/img2.jpg" alt="" />
                    </div>
                    <div class="entry-content">
                        <h2>Left sidebar page</h2>
                        <p class="lead">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>
                        <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
                        <h3>This is a subtitle</h3>
                        <p>Duis autem vel eum iriure dolor in <a href="#">this is a link</a> velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing <strong>this is some bold text</strong> elit, sed diam nonummy nibh euismod tincidunt ut. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
                        <h4>This is a subtitle</h4>
                        <p>Duis autem vel eum iriure dolor in <a href="#">this is a link</a> velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing <strong>this is some bold text</strong> elit, sed diam nonummy nibh euismod tincidunt ut. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
                        <h5>This is a subtitle</h5>
                        <p>Duis autem vel eum iriure dolor in <a href="#">this is a link</a> velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing <strong>this is some bold text</strong> elit, sed diam nonummy nibh euismod tincidunt ut. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
                    </div>
                </article>
                <!-- //Post -->
            </div>
            <!--- //Content -->
        </div>
    </div>
</main>
<!-- //Main -->
