@{
    ViewBag.Title = "Services";
}

s
	<!-- Main -->
<main class="main" role="main">
    <!-- Page info -->
    <header class="site-title color">
        <div class="wrap">
            <div class="container">
                <h1>Services</h1>
                <nav role="navigation" class="breadcrumbs">
                    <ul>
                        <li><a href="../../Home/index" title="Home">Home</a></li>
                        <li>Services</li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <!-- //Page info -->


    <div class="wrap">
        <div class="row">

            <!--- Sidebar -->
            <aside class="one-fourth sidebar left">
                <!-- Widget -->
                <div class="widget">
                    <ul class="categories">
                        <li class="active"><a href="#">Private transfers</a></li>
                        <li><a href="#">Shuttle transfers</a></li>
                        <li><a href="#">Bus transfers</a></li>
                        @*<li><a href="#">Helicopter transfers</a></li>*@
                        <li><a href="#">Limousine transfers</a></li>
                    </ul>
                </div>
                <!-- //Widget -->
            </aside>
            <!--- //Sidebar -->
            <!--- Content -->
            <div class="three-fourth content">
                <!-- Post -->
                <article class="single hentry">
                    <div class="entry-featured">

                        <img src="~/Content/images/img2.jpg" alt="" />
                        @*<img src="http://placehold.it/1024x768" alt="" />*@
                        <div class="overlay">
                            <a href="../../Home/Blog-Single" class="expand">+</a>
                        </div>
                    </div>
                    <div class="entry-content">
                        <h2>Private transfers</h2>
                        <p class="lead">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>
                        <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
                        <p>Duis autem vel eum iriure dolor in <a href="#">this is a link</a> velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing <strong>this is some bold text</strong> elit, sed diam nonummy nibh euismod tincidunt ut. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
                    </div>
                </article>
                <!-- //Post -->
            </div>
            <!--- //Content -->
        </div>
    </div>
</main>
<!-- //Main -->
